@media (max-width: 768px) {
.header {
    max-width:100%;
}
.header__wrapper {
    padding: 35px 50px 35px 50px;
}

.welcome {
    border: none;
    box-shadow: none;
}

.welcome__wrapper {
    flex-direction: row;
    padding: 37px 50px 32px 50px;
    background-image: url(../img/leafs__tablet.png);
    justify-content: flex-start;
    background-position-x: 428px;
    background-position-y: 28px;
}

.welcome__content {
    max-width: 346px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1 {
    font-size: 35px;
    margin-bottom: 31px;
}

.welcome__content-text {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 25px;
    padding-left: 5px;
}

.about__wrapper {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 381px;
    background-image: url(../img/houseplant__tablet.png);
    background-position-x: 259px;
    background-position-y: 430px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 668px;
}

.about__title {
    text-align: center;
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 49px;
}

.about__subtitle {
    margin-bottom: 40px;
}

.service__wrapper {
    padding: 0 50px;
}


.service__header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    margin-bottom: 12px;
}

.service__title {
    padding-bottom: 43px;
    font-size: 35px;
    line-height: 46px;
}

.service__buttons {
    
}

.service__cards {
    padding: 0 50px;
    padding-bottom: 71px;
    row-gap: 38px;
    margin-bottom: 0;
}

.service__card {
    max-width: 281px;
}

.service__card-thumb {
    margin-bottom: 0px;
}

.service__card-title {
    padding-top: 5px;
}

.service__card-subtitle {
    padding: 0 8px;
    margin-bottom: 16px;
}

.prices__wrapper {
    padding: 0 50px;
}

.prices__prices {
    padding-bottom: 164px;
}

.prices__prices-title {
    padding-top: 40px;
    padding-left: 14px;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 58px;
}

.prices__items {
    padding-left: 3px;
}

.third__item {
    margin-bottom: 32px;
}

.prices__help {
    background-position-x: 181px;
    background-position-y: 318px;
}

.prices__help-title {
    font-size: 25px;
    line-height: 35px;
    padding-top: 140px;
    margin-bottom: 28px;
}

.prices__help-button {
    padding-bottom: 10px;
}

.contactUs_wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding:0 50px;
    background-image: url(../img/tablet_woman.png);
    background-position-y: 490px;
    background-position-x: 294px;
}

.contactUs__content {
  width: auto;
}

.contactUs__title {
    right: -129px;
    padding-top: 41px;
}

.contactUs__form {
    padding-top: 99px;
    padding-bottom: 496px;
}

.footer__wrapper {
    flex-direction: column;
    margin-top: 20px;
}

.footer__left {
    margin-right: 0;
    column-gap: 23px;
}

.copyright {
    margin-right: 0;
}

.year {
    margin-right: 0;
}
}