@font-face {
  font-family: "Inika";
  src: url("../fonts/Inika/Inika-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inika";
  src: url("../fonts/Inika/Inika-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #636060;
  transition: color 1s linear;
}

.wrapper {
  max-width: 1440px;
  padding: 0 109px;
  margin: 0 auto;
  @media (max-width: 900px) {
    padding: 0 50px;
  }
  @media (max-width: 480px) {
    padding: 0 25px;
  }
}

.header {
  height: 134px;
  background-color: #edf2ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 900px) {
    height: 117px;
  }
  @media (max-width: 480px) {
    height: 96px;
  }
}

.header__logo-link {
  width: 79px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  .header__logo-text {
    position: relative;
    bottom: 3px;
    right: 3px;
  }
}

.header__nav {
  width: 452px;
  @media (max-width: 641px) {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header__nav-link {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  transition: color 0.2s linear;
  &:hover {
    color: #e06733;
  }
}

.active-link {
  font-family: Inika;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  color: #e06733;
  text-decoration: none;
}

.menu-btn {
  display: none;
  width: 40px;
  height: 26px;

  .bar {
    border: 2px solid #717171;
    display: block;
    width: 40px;
    height: 0px;
  }
  @media (max-width: 641px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.welcome {
  display: flex;
  justify-content: flex-end;
  height: 532px;
  background: #edf2ec;
  background-image: url("../img/leafs.png");
  background-repeat: no-repeat;
  padding-top: 98px;
  padding-bottom: 94px;
  background-position-x: 100px;
  background-position-y: 54px;
  @media (max-width: 768px) {
    justify-content: flex-start;
    background-image: url("../img/leafs__tablet.png");
    background-position: right 46px top 31px;
    padding-top: 40px;
    padding-bottom: 70px;
    height: 420px;
  }
  @media (max-width: 420px) {
    height: 300px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.welcome__wrapper {
  width: 549px;
  @media (max-width: 748px) {
    width: 346px;
  }
  @media (max-width: 420px) {
    width: 100%;
  }
}

.welcome__content-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  span {
    color: #499a18;
  }
  @media (max-width: 768px) {
    font-size: 35px;
    width: 341px;
  }
  @media (max-width: 420px) {
    font-size: 25px;
    line-height: 35px;
  }
}

.welcome__content-text {
  margin-top: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 25px;
    margin-top: 31px;
    padding-left: 5px;
    width: 341px;
  }
  @media (max-width: 420px) {
    margin-top: 22px;
    padding-left: 0;
  }
}

.button__welcome {
  margin-top: 45px;
  padding: 11px 25px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background: #edf2ec;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 2px solid #e06733;
  border-radius: 10px;
  @media (max-width: 768px) {
    margin-top: 36px;
  }
  @media (max-width: 420px) {
    margin-top: 26px;
    font-size: 10px;
    padding: 10px 15px;
  }
}

.about {
  display: flex;
  justify-content: flex-start;
  height: 666px;
  background: #ffffff;
  background-image: url("../img/houseplant__about.png");
  background-repeat: no-repeat;
  padding-top: 161px;
  padding-bottom: 155px;
  background-position: right 108px center;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    background-image: url("../img/houseplant__tablet.png");
    background-position: center bottom 95px;
    padding-top: 40px;
    padding-bottom: 95px;
    height: 783px;
  }

  @media (max-width: 420px) {
    height: 516px;
    padding-top: 30px;
    padding-bottom: 31px;
    background-image: url("../img/houseplant__mobile.png");
    background-position: center bottom 32px;
  }
}

h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  span {
    color: #e06733;
  }
  @media (max-width: 768px) {
    font-size: 35px;
    line-height: 46px;
  }
  @media (max-width: 420px) {
    font-size: 25px;
    line-height: 33px;
  }
}

.about__wrapper {
  width: 605px;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.about__title {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.about__text {
  margin-top: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  @media (max-width: 768px) {
    margin-top: 49px;
  }
  @media (max-width: 420px) {
    font-size: 15px;
    line-height: 25px;
    margin-top: 14px;
  }
}

.service {
  background-color: #edf2ec;
  min-height: 1300px;
  padding-top: 40px;
  padding-bottom: 121px;
  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  @media (max-width: 420px) {
    padding-top: 30px;
    padding-bottom: 27px;
  }
}

.service__header {
  min-height: 94px;
  max-width: 1007px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.service__title {
  max-width: 306px;
}

.service__buttons {
  width: 559px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  @media (max-width: 768px) {
    margin-top: 42px;
  }
}

.service__button {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: #edf2ec;
  height: 50px;
  width: 161px;
}

.service__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 79px;
  row-gap: 55px;
  @media (max-width: 768px) {
    row-gap: 38px;
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.service__card {
  width: 330px;
  height: 450px;
  border: 1px solid #e3e1d5;
  overflow: hidden;
  border-radius: 20px;
  @media (max-width: 768px) {
    width: 281px;
    row-gap: 38px;
  }
  @media (max-width: 480px) {
    width: 280px;
    row-gap: 34px;
  }
}

.service__card-pic {
  width: 280px;
  height: 350px;
}

.service__card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  text-align: center;
  margin-top: 9px;
}

.service__card-subtitle {
  margin-top: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
  @media (max-width: 768px) {
    width: 201px;
    margin: 0 auto;
    margin-top: 11px;
  }
}
.prices {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 560px;
  background-color: #ffffff;
  background-image: url(../img/prices__leafs.png);
  background-repeat: no-repeat;
  background-position: right 108px bottom 108px;
  &__prices {
    width: 332px;
    /*height: 391.01px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
  }
  &__form-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
    align-items: center;
    padding: 34px 41px;
    margin-top: 58px;
    /*width: 12.5rem;
    height: 10.7rem;*/
    border: 1px solid #e3e1d5;
    border-radius: 20px;
  }
  &__form select {
    appearance: none;
    width: 250px;
    height: 50px;
    background-image: url("../img/svg/accordion_btn.svg");
    background-position-x: 10px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    background-color: #edf2ec;
    border-color: #edf2ec;
    border-radius: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-left: 38px;
    padding-top: 5px;
  }
  &__help {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 452px;
  }
  &__help-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
  }
  &__help-title span {
    color: #499a18;
  }
  &__help-button {
    padding: 12px 33.96px 12px 30.04px;
    background: #ffffff;
    border: 1px solid #e06733;
    border-radius: 5px;
    font-family: "Inika";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #e06733;
    margin-top: 39px;
  }
}
